<div class="text">
    <form class="formlogin" method="POST" action="/auth/login">
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label"><p>Username</p>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Username"/></label>
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label"><p>Password</p>
          <input type="password" id="disabledTextInput" class="form-control" placeholder="Password"/></label>
        </div>
        <button class="button3" type="submit">LogIn</button>
    </form>
    <% if (typeof errorMessage !== 'undefined') { %>
    <p style="color: red"><%= errorMessage %></p>
    <% } %>
    <style> img { display: none; } </style>
    </div>