<div class="text">
<form class="formsignup" method="POST" action="/auth/signup">
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label"><p>Username</p>
      <input type="text" class="form-control" placeholder="Username" <% if (typeof errorMessage !== 'undefined') { %>
        value="<%= userData.username %>" <% } %> ></label>
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label"><p>Email</p>
      <input type="text" class="form-control" placeholder="Email" <% if (typeof errorMessage !== 'undefined') { %>
        value="<%= user.email %>" <% } %> ></label>
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label"><p>Password</p>
      <input type="password" class="form-control" placeholder="Password" required/></label>
    </div>
    <button class="button2" type="submit">SignUp</button>
</form>
<% if (typeof errorMessage !== 'undefined') { %>
<p style="color: red"><%= errorMessage %></p>
<% } %>
<style> img { display: none; } </style>
</div>