<div class="container">
  <form class="form" method="POST" action="/auth/signup">
    <label
      >Username: <input type="text" name="username" <% if (typeof errorMessage !== 'undefined') { %>
      value="<%= userData.username %>" <% } %> /></label
    >
    <label
      >Email: <input type="text" name="email" required <% if (typeof errorMessage !== 'undefined') {
      %> value="<%= user.email %>" <% } %> /></label
    >
    <label>Password: <input type="password" name="password" required /></label>
    <button class="button2" type="submit">SignUp</button>
  </form>
  <% if (typeof errorMessage !== 'undefined') { %>
  <p style="color: red"><%= errorMessage %></p>
  <% } %>
  </div>
