<div class="text">
<div class="homePagetop">
<h1 class="titlePaw">Paw</h1>
<div class="dogImg">
    <img src="/images/dog.png"alt="" width="320" height="320" />
</div>
<h1 class="titleSitive">sitive</h1>
</div>
<div class="homePagebottom">
<div class="pupImg">
    <img src="/images/pup.png" alt="" width="270" height="270" />
</div>
<form action="/auth/signup">
<button class="signupbutton" type="submit">Signup</button>
</form>
<div class="catImg">
    <img src="/images/cat.png" alt="" width="260" height="260" />
</div>
</div>
</div>

