<html>
<div class="text">
<head>
  <title>Pawsitive Pets</title>
</head>
<body>
    <h1> The only pet website you need </h1>
    <div class="homePageImg">
     <img src="/images/homepageimg2.png" alt="" width="600" height="600" />
     </div>
      <div class="homePagebottom">
      <form action="/auth/signup">
      <button class="signupbutton" type="submit">Signup</button>
    </form>
    </div>
  </div>
</div>
</body>
</html>

