<div class="text">
<h1 class="title">Welcome to Pawsitive Pets </h1>
<h3 class="indication">First let's create your profile </h3>
<button type="button">Signup</button>
<h3 class="indication">If you already create your profile then Login</h3>
<button type="button">Login</button>
</div>