<html>
<section>
<div class="text">
<head>
  <title>Pawsitive Pets</title>
</head>
<body>
    <div class="row flex container">
    <div class="homePageTitle">
    <h1> The only pet website you will need in your life! </h1>
    </div>
      <div class="homePagebottom">
      <form action="/auth/signup">
      <button class="signupbutton" type="submit"> Create Your Profile  > </button>
    </form>
   </div>
  </div>
</div>
</div>
<div class="homePageImg">
    <img src="/images/homepageimg2.png" alt="" width="600" height="600" />
    </div>
</body>
</section>
</html>

