<div class="homePagetitle">
<h1 class="titlePaw">Paw</h1>
<h1 class="titleSitive">sitive</h1>
</div>
<div class="text">
<h3 class="indication"></h3>
<form action="/auth/signup">
<button class="signupbutton" type="submit">Signup</button>
</form>
<h3 class="indication"></h3>
<form action="/auth/login">
    <button class="loginbutton" type="submit">Login</button>
    </form>
</div>