<div class="text">
<h1 class="title">Welcome to Pawsitive Pets </h1>
<h3 class="indication">First let's create your profile </h3>
<form action="/auth/signup">
<button class="signupbutton" type="submit">Signup</button>
</form>
<h3 class="indication">If you already have a profile just login</h3>
<form action="/auth/login">
    <button class="loginbutton" type="submit">Login</button>
    </form>
</div>