body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-color: blueviolet;
}

.logoutPositon {
padding-left: 70%;
}

.logoutbutton {
  border-style: none;
  background-color: transparent;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
