/* Main Page */

body {
  background-color: #c6e9f7;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: white;
  height: 90px;
}

.navbar-toggler {
  border-style: none;
}

.nav-link {
  color: black;
}

.rounded {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

.logoutPositon {
padding-left: 70%;
}

.logoutbutton {
  border-style: none;
  background-color: transparent;
}

.text {
  top: 70px;
  position: relative;
  text-align: center;
}

.title {
  padding-bottom: 50px;
}

.indication {
  padding-top: 30px;
  padding-bottom: 30px;
}

.signupbutton {
  font-size: 20px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid #efc2e1;
  background-color: white;
}

.loginbutton {
  font-size: 20px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid #efc2e1;
  background-color: white;
}

.title2 {
  padding-bottom: 120px;
}

.form {
  position: relative;
  left: 65px;
}

.button2 {
  right: 440px;
  top: 120px;
  position: relative;
  font-size: 20px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid #0082b6c4;
  background-color: white;
}

.button3 {
  right: 325px;
  top: 120px;
  position: relative;
  font-size: 20px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid #0082b6c4;
  background-color: white;
}

