body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-color: blueviolet;
}

.logoutPositon {
padding-left: 70%;
}

.logoutbutton {
  border-style: none;
  background-color: transparent;
}

.text {
  top: 100px;
  position: relative;
  border: 3px solid #73AD21;
  text-align: center;
}

.indication {
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
